.footer{
    background-color: rgb(216, 216, 212);
    align-items: center;
    width: 100%;
}

.footer-inner{
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}